:root{
    --color1:rgb(253, 253, 253);
    --color2:rgb(88, 215, 247);
    --text1:rgb(13, 56, 102);
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
}
.text1{
    color:var(--text1);
}
.text-serif{
    font-family: serif;
}
.navbar-collapse{
    padding-right: 20px;
    justify-content: flex-end;
}
.nav-link{
    color:var(--color1);
    margin:0px 15px;
}
.banner-text{
    padding: 70px 0px 0px 0px;
    margin:0px;
}
.banner-text h2{
    color:var(--text1);
    font-size:5rem;
}
@media (max-width:1000px){
    .banner-text h2{
        font-size:3rem;
    }
}
.row{
    margin:0px;
}
#banner-img{
    width:700px;
}
@media (max-width:1400px){
    #banner-img{
        width:48vw;
        min-width:400px;
    }
}
#banner-img-con{
    padding:0;
}
.card{
    border:none;
}