:root{
    --color1:rgb(253, 253, 253);
    --color2:rgb(88, 215, 247);
    --text1:rgb(13, 56, 102);
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
#banner{
    background-color:rgba(126, 199, 17, 0.76);
    height:40px;
    width:100vw;
}
.navbar{
    background-color: var(--text1);
}
.logo{
    width:55px;
}
.text1{
    color:var(--text1);
}
.text-serif{
    font-family: serif;
}
.navbar-collapse{
    padding-right: 20px;
    justify-content: flex-end;
}
.nav-link{
    color:var(--color1);
    margin:0px 15px;
}
.banner-text{
    padding: 70px 0px 0px 0px;
    margin:0px;
}
.banner-text h2{
    color:var(--text1);
    font-size:5rem;
}
#top-banner{
    background-color: var(--color2);
}
@media (max-width:1000px){
    .banner-text h2{
        font-size:3rem;
    }
}
.row{
    margin:0px;
}
#banner-img{
    width:700px;
}
@media (max-width:1400px){
    #banner-img{
        width:48vw;
        min-width:400px;
    }
}
#banner-img-con{
    padding:0;
}
.card{
    border:none;
    max-width: 70vw;
}
#img-srvs{
    width:100vw;;
    min-height:160px;
    object-fit: cover;
}
#services{
    background-color: var(--color2);
    padding-bottom:15px;
    padding-top:15px;
}

.stylize1{
    display:inline-block;
    font-size:3rem;
    padding: 0px 0px;
    z-index: 100;
    text-align: center;
    margin:0;
    
}
.img-crop1{
    object-fit: cover;
}
li{
    font-size:1.1rem;
    font-weight: lighter;
}

footer{
    padding-left:30px;
    padding-top:30px;
    margin-top:100px;
    height:200px;
    background-color: rgba(128, 128, 128, 0.486);
}
footer p{
    margin:0px;
}