:root{
    --color1:rgb(253, 253, 253);
    --color2:rgb(88, 215, 247);
    --text1:rgb(13, 56, 102);
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--text1);
}
#banner{
    background-color:rgba(126, 199, 17, 0.76);
    height:40px;
    width:100vw;
}
.navbar{
    background-color: var(--text1);
    position:fixed;
    width:100vw;
    z-index:99;
}
.ad{
    z-index:1;
    position:absolute;
    top:84px;
    width:100vw;
    margin:0;
}
.ad p{
    margin:0;
    padding-left: 10px;
}
.logo{
    width:55px;
}
.text1{
    color:var(--text1);
}
.text-serif{
    font-family: serif;
}
.navbar-collapse{
    padding-right: 20px;
    justify-content: flex-end;
}
.nav-link{
    color:var(--color1);
    margin:0px 15px;
}
.banner-text{
    padding: 70px 0px 0px 0px;
    margin:0px;
}
.banner-text h2{
    color:var(--text1);
    font-size:5rem;
}
#top-banner{
    padding-top:120px;
    background-color: var(--color2);
}
@media (max-width:1000px){
    .banner-text h2{
        font-size:3rem;
    }
}
.row{
    margin:0px;
}
#banner-img{
    width:700px;
}
@media (max-width:1400px){
    #banner-img{
        width:48vw;
        min-width:400px;
    }
}
#banner-img-con{
    padding:0;
}
.card{
    border:none;
    max-width: 70vw;
}
#img-srvs{
    width:100vw;;
    min-height:160px;
    object-fit: cover;
}
#services{
    background-color: var(--color2);
    padding-bottom:15px;
    padding-top:15px;
    z-index:1;
}
#services h3{
    color:rgb(20, 58, 65);
}
#doctors-anchor{
    z-index:-99;
    position:absolute;
    top:2500px;
}
#services-anchor{
    z-index:-99;
    position:absolute;
    top:1300px;
}
#insurance-anchor{
    z-index:-99;
    position:absolute;
    top:2850px;
}
.stylize1{
    display:inline-block;
    font-size:3rem;
    padding: 0px 0px;
    z-index: 2;
    text-align: center;
    margin:0;
    
}
.img-crop1{
    object-fit: cover;
}
li{
    font-size:1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.srvcs-list h5{
    font-size: 1rem;
}
.srvcs-list h2{
    font-size: 1.5rem;
}
#insurance{
    background-color: var(--color2);
    padding-bottom:15px;
    padding-top:15px;
}
.in-logo{
    width:200px;
    max-width:300px;
}
.uhg_cons{
    width:200px;
    display:inline-block;
}
footer{
    font-family: 'Poppins', sans-serif;
    padding-left:30px;
    padding-top:30px;
    /*margin-top:100px;*/
    min-height:200px;
    background-color: rgba(128, 128, 128, 0.486);
    height:300px;
}
footer p{
    margin:0px;
}
#footerLogo{
    filter: grayscale(60%);
    max-width:150px;
    max-height:150px;
}
#footerLogo:hover{
    filter: none;
}
.foot_brand{
    font-size:1.5em;
    border-bottom: 1px solid white;
    width: 400px;
}